server:
  port: 8888

spring:
  application:
    name: config-service
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  profiles:
    active: git
  cloud:
    config:
      server:
        native:
          search-locations: file://${user.home}/Desktop/Work/native-file-repo
        git: #default
          uri: https://github.com/joneconsulting/spring-cloud-config
          default-label: master
#          username: [username]
#          password: [password]

